body{
  /*color: #fff;*/
  /*font-family: 'PT Sans', sans-serif;*/
}
p {
  margin: 0px;
  padding: 0px;
}
.header {
  width: 100%;
  height: 30px;
}
.enter {
  line-height: 30px;
  margin-left: 20px;
}
.main {
  min-height: 500px;
}
.footer-big {
  background-color: #2F2F1F;
  width: 100%;
  height: 100px;
}
.form-ajax {
  min-width: 100px;
  margin-left: 20px;
  margin-top: 15px;
}

label {
  margin-top: 10px;
  display: block;
}
.error {
  background: #f60000;
  border: 3px solid #d50000;
  width: 150px;
  color: white;
}
.correct {
  background: #56d800;
  border: 3px solid #008000;
}
.wrong {
  font-weight: bold;
  color: #e90000;
}
.incorectName {
  border-color: #FF4242; 
}
.form__input {
  display: block;
  border-radius: 4px;
  display: inline-block;
  padding: 3px;
}
.form__incorrect-div {
  margin-left: 10px;
  background-color: #FF4242;
  border-radius: 4px;
  position: relative;
  padding: 3px;
  padding-right: 7px;
  display: inline-block;
  color: white;
}
.sbm {
  display: block;
  margin-top: 10px;
  border-radius: 4px;
}
.form__incorrect-div-triangle {
  content: '';
  position: absolute;
  left: -10px; top: 10px;
  border: 5px solid transparent;
  border-right: 5px solid #FF4242;
}
.nav-ul {
  margin: 0px;
  padding: 0px;
}
.nav-li {
  display: inline-block;
}
.exit{
  margin-left: 10px;
}